#wrapper {
    width: 980px;
    margin: 0 auto;
}

#one {
    position: fixed;
    top: 0px;
    height: 30px;
    width: 60px;
    right: 0px;
    visibility: visible;
}

h1 {
    text-align: center;
}

input,
select,
button {
    width: 300px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.input-row {
    margin-bottom: 10px;
}

lable {
    width: 100px;
    display: inline-block;
}

#language {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=radio],
input[type=checkbox] {
    width: auto;
    height: auto;
    margin: 0 5px 0 10px;
}

lable.block {
    display: block;
    width: auto;
    margin-bottom: 10px;
}

fieldset {
    padding: 20px;
    margin: 20px 0px;
    width: auto;

}

#choices.label {
    width: auto;
    margin-right: 20px;
}

.buttons input,
.buttons button {
    padding: 10px 20px;
    font-size: 20px;
    color: fuchsia;
    border: 3px solid blue;
    line-height: 5px;
    cursor: pointer;
    height: 40px;
    background-image: linear-gradient(to bottom, #f7f7f7, #ebebeb);
}

.buttons input:hover,
.buttons button:hover {
    background-image: linear-gradient(to bottom, #ebebeb, #f7f7f7);
}

#footer {
    background-color: deeppink;
    color: black;
    text-align: auto;
}

#footer a:hover {
    text-decoration: none;
    background: black;
    color: yellow;
}

body {
    background-color: deeppink;

}

h1 {
    color: black;
    text-align: left;
}

li {
    font-size: 21px;
    color: #52dc25;
    list-style-type: circle;
}

.clearfix {
    clear: both;
}

header {
    padding: 1px 0;

}

nav ul li {
    text-align: left;
    font-style: oblique;
    float: left;
    list-style: none;
    background-color: aqua;
    border-right: 2px solid black;

}

nav ul a {
    color: fuchsia;
    text-decoration: none;
    padding: 5px;
}

nav ul {
    margin-top: 1px;
    margin: 0;
    padding: 0;


}

nav ul li:last-child {
    border: none;
}

nav ul li a:hover {
    background: hotpink;
    color: yellow;
    text-decoration: underline;
}
